ul{
    list-style-type: none;
}
h3{
    border-bottom: var(--underline) 1px solid;
}
h4{
    padding-left: 1rem;
}

#skills img{
    margin-left: 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}