:root{
    /*Changes with theme*/
    --underline: brown;
    --contentBackground: antiquewhite;
    --exteriorBackground: wheat;
    --textColor: black;
    --linkColor: purple;
    --registerLoginColor: purple;
    --footPanelLinkColor: blue;
}
@media (prefers-color-scheme: dark) {
    :root{
        /*Changes with theme*/
        --underline: red;
        --contentBackground: #42567a; /*#596e96*/
        --exteriorBackground: #303141;
        --textColor: white;
        --linkColor: #1e1e65;
        --registerLoginColor: #5757e7;
        --footPanelLinkColor: steelblue;
    }
}
body{
    margin: 0;
    background-color: var(--exteriorBackground);
    display: flex;
    flex-wrap: wrap;
    color: var(--textColor);
}
h1, h2, h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Diablo', sans-serif;
    user-select: none;
    border-bottom: var(--underline) 1px solid;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--linkColor);
}
a:hover{
    text-decoration: underline;
}
#listContainer a, .footer a{
    color: var(--footPanelLinkColor);
}
#listContainer a:visited, .footer a:visited{
    color: var(--footPanelLinkColor);
}

.homeLink{
    cursor: pointer;
}
.registerLogin{
    color: var(--registerLoginColor)
}

.head img{ 
    transition: 0.5s;
}
.head img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.head{
    /*put above all page content*/
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 20px;
}
.head > *{
    margin: 0 10px;
}
/*side navigation panel*/
.panel{
    width: 10%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.panel h2, .panel li{
    font-size: 1rem;
}
.panel ul, .panel li{
    list-style-type: none;
    padding-right: 2rem;
    padding-bottom: 10%;
}

.content{
    width: 65%;
    padding-right: 1rem;
    /*fill right side of screen with content*/
    flex: 1 1 auto;
    flex-shrink: inherit;
    padding-left: 2rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--contentBackground);
}
.content img{
    max-inline-size: 100%;
    block-size: auto;
    height: auto;
}
.dropDown{
    padding-left: 0;
}

.footer{
    /*put below all page content*/
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 0 20px;
    font-weight: bold;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************************************
* ANCHOR Responsive Design, hide navigation panels on small screens
***************************************/
@media only screen and (max-width:1500px) {
    .homeLink{
        font-size: medium;
    }
    .panel{
        width: 14%;
    }
    .content{
        width: 40%;
        padding-right: 0;
        padding-left: 1rem;
        padding-bottom: 100vh;
        flex-shrink: inherit;
    }
}
@media only screen and (max-width:1000px) {
    .panel{
        width: 18%;
    }
    .content{
        width: 20%;
        padding-right: 0;
        padding-bottom: 100vh;
        flex-shrink: inherit;
    }
}
@media only screen and (max-width:780px) {
    .panel{
        width: 20%;
    }
    .content{
        padding-right: 0;
        padding-bottom: 100vh;
        flex-shrink: inherit;
    }
    #skills{
        padding-left: 0;
    }
}
@media only screen and (max-width:720px) {
    .panel{
        width: 25%;
    }
    .content{
        padding-right: 0;
        padding-bottom: 100vh;
        flex-shrink: inherit;
    }
    #skills{
        padding-left: 0;
    }
}
@media only screen and (max-width:600px) {
    .panel{
        width: 20%;
    }
    .panel h2, .panel li{
        font-size: small;
    }
    .content{
        padding-right: 0;
        padding-bottom: 100vh;
        flex-shrink: inherit;
    }
    #skills{
        padding-left: 0;
    }
    .panel h2{
        font-size: 98%;
    }
}
@media only screen and (max-width:570px) {
    .panel{
        display: none;
    }
    .content{
        padding-right: 0;
        padding-bottom: 100vh;
        flex-shrink: inherit;
    }
    #skills{
        padding-left: 0;
    }
    .panel h2{
        font-size: 98%;
    }
}
@media only screen and (max-width:400px) {
    .panel{
        display: none;
    }
    .content{
        padding-right: 0;
        padding-bottom: 100vh;
        flex-shrink: inherit;
    }
    #skills{
        padding-left: 0;
    }
    .panel h2{
        font-size: 98%;
    }
}