body{
    margin: 0;
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
}
img{
    transition: 0.5s;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.head{
    /*put above all page content*/
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 20px;

}
.head > *{
    margin: 0 10px;
}

.panel{
    width: 15%;
    height: 100%;
    padding-bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.content{
    /*fill right side of screen with content*/
    flex: 1 1 auto;
    padding-left: 2rem;
    background-color: antiquewhite;
}

.footer{
    /*put below all page content*/
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

h1{
    border-bottom: brown 1px solid;
}
li{
    list-style-type: none;
    padding-right: 2rem;
    padding-bottom: 10%;
}