body{
    margin: 0;
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
}

.head{
    /*put above all page content*/
    top: 0;
    width: 100%;
    height: 50px;
    border-bottom: brown 1px solid;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 20px;

}

.panel{
    width: 15%;
    height: 100%;
    padding-bottom: 100%;
    border-right: brown 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.content{
    /*fill right side of screen with content*/
    flex: 1 1 auto;
    padding-left: 2rem;
    background-color: antiquewhite;
}

.footer{
    /*put below all page content*/
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: brown 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

h1{
    border-bottom: brown 1px solid;
}